@font-face {
 font-family:vampyre;
 src: url(fonts/vampyre.ttf);
}

body {
  /* background: linear-gradient(lightgrey, white); */
  background-image: url('tausta.jpg');
  text-align: center;
  font-family: vampyre;
  color: white;
}
h1 {
  font-family: vampyre;
  color: white;
  text-align:center;
}
#game {
  background-image: url('pohja.png');
  width:648px;
  height:480px;
  text-align:center;
  margin: auto;
  border: 5px solid white;
}
#container {

  text-align:center;
}

#info {
  font-family: vampyre;
  color: white;
  font-size:26px;
  padding:10px;
  letter-spacing: 2px;
  margin: auto;
  max-width: 648px;  
}

table {
margin: 0px;
padding: 0px;
border: 0px solid blue;
border-collapse: collapse;
}

table, tr, th, td {
border: 0px solid blue;
}

td {
margin: 0px;
padding: 0px;
width: 24px;
height: 24px;
}

#print img {
border: 5px white solid;
}
  a:link {color:#FFFFFF;}      /* unvisited link */
  a:visited {color:#FFFFFF;}  /* visited link */
  a:hover {color:#FF0000;}  /* mouse over link */
  a:active {color:#FF0000;}  /* selected link */